.button {
  width: 360px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  opacity: 0.3;
  border: none;
  background: #5FCB39;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.2px;
  cursor: pointer;

  &:hover {
    background: #3D8C30;
  }
}
