.step-one-button {
  width: 172px;
  height: 172px;
  border-radius: 20.848px;
  border: 1.042px solid #E1E1E1;
  background: linear-gradient(214deg, #F1F1F1 12.33%, #FFF 69.93%);
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  padding: 0;

  &-text {
    color: #2D3436;
    font-size: 16.679px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.933px;
    letter-spacing: 0.208px;
    margin-left: 10.42px;
    text-align: left;
  }

  &:hover {
    background: linear-gradient(214deg, #C1C1C1 12.33%, #F1F1F1 69.93%);
  }
}

.step-one-button.active {
  background: linear-gradient(214deg, #4CAF50 12.33%, #8BC34A 69.93%);
}
