.option-input {
  display: none;
}

.option-content {
  height: 80px;
  display: flex;
  padding-left: 15px;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #E1E1E1;
  background: #FFF;
  cursor: pointer;

  &:hover {
    background: linear-gradient(214deg, #C1C1C1 12.33%, #F1F1F1 69.93%);
  }

  &.active {
    background: linear-gradient(214deg, #4CAF50 12.33%, #8BC34A 69.93%);
  }

  &-text {
    margin: 0;
    width: 120px;
    color: #2D3436;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.2px;
  }
}
